<div class="modal">
    <div class="modal-content">
      <h2 *ngIf="!taskSelected">Criar Nova Tarefa</h2>
      <h2 *ngIf="taskSelected">Editar Tarefa</h2>
  
      <form [formGroup]="formTask" (ngSubmit)="saveTask()">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Título" required />
          <mat-error *ngIf="formTask.get('title')?.hasError('required')">Título é obrigatório.</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select formControlName="status" placeholder="Status" required>
            <mat-option value="PENDING">Pendente</mat-option>
            <mat-option value="IN_PROGRESS">Em Progresso</mat-option>
            <mat-option value="COMPLETED">Concluída</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="deadline" placeholder="Data Limite" required />
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formTask.get('deadline')?.hasError('required')">Data limite é obrigatória.</mat-error>
          <mat-error *ngIf="formTask.get('deadline')?.hasError('pastDate')">A data limite não pode ser no passado.</mat-error>
        </mat-form-field>
      
        <button mat-raised-button type="submit" [disabled]="formTask.invalid">Salvar</button>
      </form>
      
    </div>
  </div>

  <mat-error *ngIf="formTask.get('deadline')?.hasError('pastDate')">
    A data limite não pode ser no passado.
  </mat-error>
  