<div class="modal" [ngClass]="{ 'show': openModal }">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2 *ngIf="_taskSelected == null">Criar Nova Tarefa</h2>
      <h2 *ngIf="_taskSelected !== null">Editar Tarefa</h2>
      <button type="button" class="close" (click)="closeModal()">×</button>
    </div>

    <form [formGroup]="formTask" (ngSubmit)="saveTask()">

      <div>
        <div>
          <label>Title:</label>
        </div>
        <input id="title" type="text" class="form-control" formControlName="title" placeholder=" " required autofocus />
      </div>

      <div>
        <div>
          <label>Description:</label>
        </div>
        <textarea id="description" type="text" class="form-control" formControlName="description" placeholder=" "
          required>
        </textarea>
      </div>

      <div>
        <div>
          <label>Status:</label>
        </div>
        <select formControlName="status">
          <option *ngFor="let status of taskStatus" [value]="status">{{ status }}</option>
        </select>
      </div>

      <div>
        <div>
          <label>DeadLine:</label>
        </div>
        <input id="deadline" type="date" class="form-control" formControlName="deadline" />
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>