<div class="task-container">
  <h2>Lista de Tarefas</h2>
  <button class="logout" (click)="logout()">Logout</button>

  <!-- Filtros e ordenação -->
  <div class="filters">
    <input type="text" [(ngModel)]="searchText" placeholder="Pesquisar tarefas..." />
    
    <select [(ngModel)]="statusFilter">
      <option value="">Todos os Status</option>
      <option *ngFor="let status of taskStatuses" [value]="status">{{ status }}</option>
    </select>

    <button (click)="sortBy('deadline')">Ordenar por Deadline</button>
    <button (click)="sortBy('status')">Ordenar por Status</button>
    <button (click)="openTaskModal()">Criar Nova Tarefa</button>
  </div>

  <!-- Grid de Tarefas -->
  <div class="task-grid">
    <div *ngFor="let task of filteredTasks | paginate: { itemsPerPage: 3, currentPage: this.currentPage }" class="task-card">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <p>Status: <strong>{{ task.status }}</strong></p>
      <p>createdOn: {{ task.createdOn | date:'short' }}</p>
      <p>DeadLine: {{ task.deadline | date:'short' }}</p>
      <button (click)="editarTask(task)">Editar</button>
      <button (click)="deleteTask(task.id)">Excluir</button>
    </div>
  </div>

  <!-- Paginação -->
  <pagination-controls [page]="currentPage" (pageChange)="changePage($event)"></pagination-controls>

  <!-- Mensagem amigável caso não tenha tarefas -->
  <p *ngIf="filteredTasks.length === 0" class="no-tasks">Nenhuma tarefa encontrada.</p>
</div>

<!-- Modal para criar/editar tarefa -->
<app-modal-adicionar-task 
  [openModal]="openModal" 
  [taskSelected]="taskSelected" 
  (closeModalEvent)="closeModal()">
</app-modal-adicionar-task>
