<!-- Container principal do login -->
<div class="login-container">
<!-- Avatar com imagem de login -->
<div class="avatar">
  <img src="/assets/login-image.png" alt="Login" />
</div>


  <h2>Login</h2>

  <!-- Formulário de Login -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <div>
        <label for="username">Usuario</label>
      </div>
      <input id="username" type="text" class="form-control" formControlName="username"
        placeholder="Insira seu usuário" required autofocus />
    </div>

    <div class="form-group">
      <div>
        <label for="password">Senha</label>
      </div>
      <input id="password" type="password" class="form-control" formControlName="password"
        placeholder="Insira sua senha" required />
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>

  <!-- Links para criar conta e recuperar senha -->
  <div class="extra-links">
    <button class="btn-link" (click)="openModal()">Criar nova conta</button>
  </div>
</div>

<!-- Modal para criação de usuário -->
<div class="modal" [ngClass]="{ 'show': showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Criar Conta</h5>
        <button type="button" class="close" (click)="closeModal()">×</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onCreateUser()">
          <div class="form-group">
            <label for="newUsername">Nome de Usuário</label>
            <input id="newUsername" type="text" class="form-control" formControlName="username"
              placeholder="Insira o Nome do seu Usuário" required autofocus/>
          </div>

          <div class="form-group">
            <label for="newEmail">Email</label>
            <input id="newEmail" type="email" class="form-control" formControlName="email"
              placeholder="Insira seu Email" required />
          </div>

          <div class="form-group">
            <label for="newPassword">Senha</label>
            <input id="newPassword" type="password" class="form-control" formControlName="password"
              placeholder="Insira sua senha" required />
          </div>

          <div *ngIf="creationError" class="error-message">
            {{ errorMessage }}
          </div>

          <button type="submit" class="btn btn-primary">Criar Conta</button>
        </form>
      </div>
    </div>
  </div>
</div>
