.global{
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}